{% load static %}  

<footer class="footer">
    <div class="container">
      <div class="footer-grid">
  
        <div class="footer-col">
          <h4>Kategorie</h4>
          <p>Misie</p>
          <p>Klocki</p>
          <p>Puzzle</p>
          <p>Samochody</p>
          <p>Lalki</p>
          <p>Inne</p>
        </div>
  
        <div class="footer-col">
          <h4>Moje konto</h4>
          <p>Profil</p>
          <p>Historia zamówień</p>
          <p>Ustawienia prywatności</p>
        </div>
  
        <div class="footer-col">
          <h4>Strefa klienta</h4>
          <p>Regulaminy</p>
          <p>Dostawy</p>
          <p>Karty podarunkowe</p>
          <p>Zwrot, wymiana, reklamacje</p>
          <p>Metody płatności</p>
          <p>Newsletter</p>
        </div>
  
        <div class="footer-col">
            <h4>Kontakt</h4>
            <p>"Tatko" Świat Dziecka <br>
            ul. Figmowa 1/2
            20-900 Warszawa <br>
            tel. +48 22 123 45 67</p>
          
            <p>Reklamacje / Zwroty / Wymiana <br>
            tel. +48 22 123 45 67</p>
          
            <p>Godziny otwarcia <br>
            PN–PT 8:00–21:00 <br>
            SOB 9:00–21:00 <br>
            NDZ 10:00–18:00</p>
          </div>
          
  
      </div>
    </div>
  
    <div class="footer-social">
      <span>FB</span>
      <span>IG</span>
      <span>TT</span>
    </div>
  </footer>
  