{% load static %}   

<header style="background-color: var(--background_default_color); color: var(--text_default_color);">
    
    <div class="container">
    <div class="header-row">
        <div class="left">
            <img src="{% static 'core/images/horizontal.png' %}" alt="Logo" />
        </div>

        <div class="search-box">
            <span class="search-icon">
                <img src="{% static 'core/images/search.svg' %}" alt="Logo" />
            </span>
            <input type="text" placeholder="Szukaj w sklepie...">
            <button class="h-btn-primary">Szukaj</button>
        </div>
        

    </div>
    </div>
    <div class="color-bar">
    <div class="container">
    <nav>
    
        <div class="nav-inner">
            <div class="nav-links">
                <a href="#">
                    <img src="{% static 'core/images/button.svg' %}" alt="Logo" />
                        
                </a>

                <a class="h-menu-link" href="#">TOYS</a>
                <a class="h-menu-link" href="#">CLOTHES</a>
                <a class="h-menu-link" href="#">CLOTHES</a>
                <a class="h-menu-link" href="#">PROMOTIONS</a>

            </div>

            <div class="header-actions">
                <button class="h-btn-primary">
                    <img src="{% static 'core/images/login.svg' %}" alt="Logo" />    
                    Zaloguj
                </button>
                <button class="h-btn-secondary">
                    <img src="{% static 'core/images/login.svg' %}" alt="Logo" />
                    Zarejestruj
                </button>
            </div>

            <div class="cart">
                <img src="{% static 'core/images/iconcontainer.svg' %}" alt="Logo" />
                <a class="h-menu-link" href="#">KOSZYK</a>
                
                    
            </div>
        </div>
        
    </nav>
    </div>
    </div>
</header>
