{% extends "core/base.html" %}
{% load static %}

{% block title %}Tatko - Strona główna{% endblock %}

{% block content %}


{% include "core/header.html" %}
<div class="hero">
<div class="hero-container">

    <img src="{% static 'core/images/frame5.png' %}" alt="Logo" />
    <div class="hero-content">
      <div class="hero-title-main">Bezpieczne zabawki</div>
      <div class="hero-title-sub">dla Twojego Malucha!</div>
      <div class="hero-btn-left">
        <button class="hero-btn-inside">
          Sprawdź nowości
        </button>
      </div>  
    </div>

</div>
</div>

<div style="background-color: var(--background_default_color); color: var(--text_default_color); padding-bottom: 10px;">
  <div class="container">
  <h2 class="section-title main-categories" style="color: var(--action_primary_default_color);">TOY CATEGORIES</h2>
  </div>
  <div class="container">
  <div class="categories">
      {% for cat in categories %}
          <a 
            class="category-tile category-card"
            style="--cat-color: {{ cat.color|default:'#777' }};">
              {{ cat.name }}
          </a>
      {% endfor %}
  </div>
  </div>
</div>

<div class="bg-white">
  <div class="container">
    <h2 style="color: var(--action_primary_default_color);" class="main-categories">NEW</h2>
  </div>
  <div class="container">
  <div class="products">
    {% for p in latest_products %}
      {% include "core/product_card.html" with product=p %}
    {% endfor %}
  </div>
  </div>
</div>

<div class="bg-cream">
  <div class="container">
  <h2 style="color: var(--action_primary_default_color);" class="main-categories">RECOMMENDED</h2>
  </div>
  <div class="container">
  <div class="products">
    {% for p in discounted_products %}
      {% include "core/product_card.html" with product=p %}
    {% endfor %}
  </div>
  </div>
</div>

{% include "core/footer.html" %}

{% endblock %}
