{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tatko</title>
</head>

<body>
    <h2>KATEGORIE ZABAWEK</h2>
<div class="categories">
    {% for cat in categories %}

            {{ cat.name }}
        </a>
    {% endfor %}
</div>

<h2>NOWOŚCI</h2>
<div class="products">
    {% for p in products %}
        <div class="product-card">
            {% if p.main_image %}
                <img src="{{ p.main_image.url }}" alt="{{ p.name }}">
            {% else %}
                <p>No product image available</p>
            {% endif %}
            <h4>{{ p.name }}</h4>
            <p>{{ p.price }} PLN</p>
        </div>
    {% endfor %}
</div>
</body>
    