{% extends "core/base.html" %}

{% load static %}

{% block title %}Tatko - Strona główna{% endblock %}

{% block content %}


{% include "core/header.html" %}

<div class="breadcrumb-section-bar">
    <div class="container">
        {% for crumb in breadcrumbs %}
            <span class="breadcrumb-section-arrow">&gt;</span>
            {% if crumb.url %}
                <a href="{{ crumb.url }}" class="breadcrumb-section-title">{{ crumb.name }}</a>
            {% else %}
                <span class="breadcrumb-section-title">{{ crumb.name }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>

 <div class="container about-wrapper">

    <div class="about-left">

        <h1 class="about-head">Aktualności</h1>

        {% for news in news_list %}

            <div class="news-item">

                <div class="news-text">

                    <h2 class="about-sub-head">{{ news.title }}</h2>

                    <p class="about-text">
                        {{ news.content|truncatewords:40 }}
                    </p>

                    <p class="news-date">
                        {{ news.created_at|date:"Y-m-d H:i" }}
                    </p>

                </div>

                <div class="news-image">
                    {% if news.image %}
                        <img src="{{ news.image.url }}" alt="{{ news.title }}">
                    {% endif %}
                </div>

            </div>

        {% empty %}
            <p class="about-text">Brak aktualności.</p>
        {% endfor %}

    </div>

    <div class="about-right">

        <img src="{% static 'core/images/bear_about.svg' %}" class="about-bear" alt="Tatko">

        <div class="about-contact">
            <h2 class="about-sub-head">Kontakt</h2>

            <p class="about-text-right">
            „Tatko” Świat Dziecka<br>
            ul. Figowa 1/2<br>
            63-400 Ostrów Wielkopolski <br>
            e-mail: biuro@tatko.pl
            </p>

            <p class="about-text-right">
            Reklamacje/zwroty/wymiana <br> 
            tel. +48 600 000 000
            </p>

            <p class="about-text-right">
            Godziny otwarcia<br>
            PN-PT 8-21<br>
            SOB 9-21<br>
            NDZ 10-18
            </p>
        </div>

    </div>

</div>

{% include "core/footer.html" %}

{% endblock %}
