{% load static %}
<div class="product-card">
    {% if product.discount %}
      <div class="badge">DISCOUNT</div>
    {% endif %}
    {% if product.main_image %}
      <img src="{{ product.main_image.url }}" alt="{{ product.name }}">
    {% else %}
      <p>No product image available</p>
    {% endif %}
    <h4 class="product-name product-main">
		<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
	</h4>
    <p class="product-desc product-description">{{ product.short }}</p>
    <div class="product-price-row">
      {% if product.discount %}
        <span class="discount-badge">{{ product.discount }} %</span>
        <div class="price-group">
          <span class="old-price">{{ product.price }} GB</span>
          <span class="price">{{ product.discounted_price }} GB</span>
        </div>  
      {% else %}
        <div class="price-group">
          <span class="price">{{ product.price }} GB</span>
        </div>    
      {% endif %}
    </div>
    <div class="product-actions">
    <form action="{% url 'products:cart_add' product.id %}" method="post" class="add-to-cart-form">
        {% csrf_token %}
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn-primary">
            <img src="{% static 'core/images/Cart.svg' %}" alt="Cart" style="width:24px; height:24px;" />
            <span class="btn-fonts">ADD TO CART</span>
        </button>
    </form>

    <button class="btn-secondary">
        <img src="{% static 'core/images/Heart.svg' %}" alt="Cart" style="width:24px; height:24px;" />
    </button>
</div>
  </div>
  