.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /*justify-content: center;*/
  }
  
  .product-card {
    position: relative;
    width: 260px;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .badge {
    position: absolute;
    left: 15px;
    top: 15px;
    background: #F0AC33;
    color: #392C11;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 8px;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  .product-name {
    color: #C9452D;
    margin: 10px 0 4px;
  }
  
  .product-desc {
    font-size: 13px;
    color: #666;
    flex-grow: 1;
  }
  
  .product-price-row {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
  }
  
  .price {
    font-weight: 700;
    font-size: 18px;
    color: 392C11;

  }
  
  .product-actions {
    display: flex;
    gap: 8px;
  }
  
  .btn-primary {
    flex: 1;
    background: var(--action_primary_default_color);
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-secondary {
    width: 40px;
    background: var(--action_secondary_default_color);
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
  }

  .product-price-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .price-box {
    margin-left: auto; /* priorytet do prawej strony */
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .discount-box {
    background-color: #F0AC33;
    min-width: 40px;
    text-align: center;
    color: #392C11;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 6px;
    border-radius: 6px;
  }