.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /*justify-content: center;*/
  }
  
  .product-card {
    position: relative;
    width: 290px;
    padding: 15px 0px 15px 0px;
    display: flex;
    flex-direction: column;
  }
  
  .product-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .badge {
    position: absolute;
    left: 0px;
    top: 15px;
    background: #F9AA2F;
    font-family: 'Montserrat', sans-serif;
    color: #35322D;
    font-size: 16px;
    font-weight: 800;
    padding: 4px 8px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .product-name {
    color: #C9452D;
    margin: 10px 0 4px;
  }
  
  .product-desc {
    color: #666;
    flex-grow: 1;
  }
  
  .product-price-row {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .price-group {
    display: flex;
    align-items: center;
    gap: 6px; /* odstęp między starą a nową ceną */
}
  
  .old-price {

    color: #35322D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
    text-decoration: line-through;

  }
  
  .price {
    font-weight: 700;
    font-size: 24px;
    color: #35322D;
    font-family: 'Montserrat', sans-serif;

  }
  
  .product-actions {
    display: flex;
    gap: 8px;
  }
  
  .btn-primary {
    flex: 1;
    background: var(--action_primary_default_color);
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: inline-flex;
  }

  .btn-primary img {
    display: block;   
  }
  
  
  .btn-secondary {
    width: 40px;
    background: var(--action_secondary_default_color);
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: inline-flex;
  }

  .product-price-row {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .price-box {
    margin-left: auto; /* priorytet do prawej strony */
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .discount-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
    background: #F9AA2F;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #35322D;
    margin-right: 8px; /* odstęp między badge a ceną */
    flex-shrink: 0;    /* nie kurczy się przy małych ekranach */
}