
  .bg-cream {
    background-color: #F9EFDB; /* krem */
  }
  
  .bg-white {
    background-color: #ffffff;
  }


  .svg-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
  }