.product-page{
display:flex;
gap:60px;
padding:40px 0;
}

.product-gallery{
flex:1;
}

.product-main-img{
width: 544px;
height: 340px;
border-radius:10px;
}

.product-thumbs{
display:flex;
gap:10px;
margin-top:10px;
}

.product-thumb{
width:60px;
cursor:pointer;
border-radius:5px;
}

.product-info{
flex:1;
}

.product-title{
color:#c4512c;
font-size:22px;
}

.product-price{
font-size:26px;
font-weight:700;
margin:15px 0;
}

.product-buy{
display:flex;
gap:10px;
flex-direction:column;
align-items:left;
}

.qty-box{
display:flex;
border-radius:6px;
overflow:hidden;
gap: 10px;
}

.qty-box button{
border:none;
background:#e6cba0;
cursor:pointer;
}

.qty-box input{
width:40px;
text-align:center;
}

.btn-add-cart{
background:#c54c2e;
color:white;
border:none;
padding:10px 20px;
border-radius:6px;
cursor:pointer;
}

.btn-fav{
background:#4a6a82;
color:white;
border:none;
width:40px;
border-radius:6px;
cursor:pointer;
}


/* opis */

.product-description-section{
background:#f1f1f1;
padding:40px 0;
margin-top:40px;
}

.product-desc-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:60px;
}

.section-title{
color:#c4512c;
margin-bottom:20px;
}

