{% extends "core/base.html" %}
{% load static %}

{% block title %}Your Cart{% endblock %}

{% block content %}

{% include "core/header.html" %}

<link rel="stylesheet" href="{% static 'products/cart.css' %}">

<div class="breadcrumb-section-bar">
    <div class="container">
        {% for crumb in breadcrumbs %}
            <span class="breadcrumb-section-arrow">&gt;</span>
            {% if crumb.url %}
                <a href="{{ crumb.url }}" class="breadcrumb-section-title">{{ crumb.name }}</a>
            {% else %}
                <span class="breadcrumb-section-title">{{ crumb.name }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>



<script>
document.addEventListener("DOMContentLoaded", () => {

    document.querySelectorAll('.qty-box').forEach(box => {

        const input = box.querySelector('.input-number');
        const plus = box.querySelector('.qty-plus');
        const minus = box.querySelector('.qty-minus');

        const productId = box.dataset.productId;

        async function post(url) {
            await fetch(url, {
                method: "POST",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });

            window.location.reload(); // najprostszy sync
        }

        plus.addEventListener('click', (e) => {
            e.preventDefault();
            post(`/products/cart/add/${productId}/`);
        });

        minus.addEventListener('click', (e) => {
            e.preventDefault();
            post(`/products/cart/subtract/${productId}/`);
        });

    });

});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie) {
        document.cookie.split(';').forEach(c => {
            c = c.trim();
            if (c.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(c.substring(name.length + 1));
            }
        });
    }
    return cookieValue;
}
</script>

<div class="bg-cream">
	<div class="container  ">
		
			<div class="cart-title">TWÓJ KOSZYK
			</div>

			<div class="cart-info">
				TOTAL: <b>{{ cart_count }} PRODUCTS </b>
			</div>
			<div class="cart-info">
				<img src="{% static 'products/images/InfoIcon.svg' %}" alt="Info" style="width:24=px; height:24px;" />
				<span>Dodanie produktu do koszyka nie oznacza jego rezerwacji. Nie zwlekaj z zakupem. </span>
			</div>
			<div class="cart-info">
				<img src="{% static 'products/images/CalendarIcon.svg' %}" alt="Info" style="width:24px; height:24px;" />
				<span>
				Przewidywana data dostawy zamówienia:
				<b>{{ delivery_from|date:"j" }}-{{ delivery_to|date:"j F" }}</b>
				</span>
			</div>
			
		
	
	</div>
</div>


<div class="bg-white">
	<div class="container  ">

		<div class="cart-container">

			{% for item in cart_items %}
			<div class="cart-item">

				<!-- IMAGE -->
				<div class="cart-img">
					<img src="{{ item.product.main_image.url }}">
				</div>

				<!-- INFO -->
				<div class="cart-details">
					<div class="cart-name">{{ item.product.name }}</div>

					<div class="cart-meta">
						{{ item.product.description }}
					</div>
					

					
					<div class="qty-box" data-product-id="{{ item.product.id }}">
						<button type="button"  class="btn-addytion qty-minus" style="width=30px">
							<img src="{% static 'products/images/substract.svg' %}" alt="Cart" style="width:16px; height:24px;" /> 
						</button>
						<div class="input-number" contenteditable="true">
							{{ item.quantity }}
						</div>
						<button type="button"  class="btn-secondary qty-plus">
							<img src="{% static 'products/images/add.svg' %}" alt="Cart" style="width:24px; height:24px;" /> 
						</button>
					</div>
				</div>

				<!-- PRICE -->
				<div class="cart-price">

					<div class="price-unit">
						{{ item.unit_price }} zł/szt.
					</div>

					<div class="price-main">
						{{ item.subtotal }} zł
					</div>

					{% if item.product.discount > 0 %}
					<div class="price-discount">
						Rabat: <b>{{ item.product.discount }}%</b>
					</div>
					{% endif %}

				</div>

				<!-- ACTIONS -->
				<div class="cart-actions">
					<button class="btn-secondary">
						<img src="{% static 'core/images/Heart.svg' %}" alt="Cart" style="width:24px; height:24px;" /> 
						Do schowka
					</button>

					<form method="post" action="{% url 'products:cart_remove' item.product.id %}"  style="display:inline;">
						{% csrf_token %}
						<button class="btn-primary" style="width:160px;">
							<img src="{% static 'products/images/substract.svg' %}" alt="Cart" style="width:16px; height:24px; filter: brightness(0) invert(1);" /> 
							Usuń z koszyka
						</button>
					</form>
				</div>

			</div>
			{% endfor %}

			{% if cart_count > 0 %}
    
				<div class="cart-item container" style="display: flex; justify-content: flex-end; border-bottom: 0px solid #ddd;">
					<div>
						<div style="color: var(--action_primary_default_color);" class="main-categories">
							Podsumowanie
						</div>
					</div>
				</div>

				<div class="cart-item cart-summary">
					<div>Łączna wartość (bez rabatów): <span style="font-weight: 600;"> {{ total_full_price }} zł </span></div>
					<div>Rabaty łącznie: <span style="font-weight: 600; color: var(--action_secondary_default_color)">{{ total_discount_value }} zł </span></div>
					<div>Koszt dostawy: <span style="font-weight: 600;"> {{ delivery_cost }} zł </span></div>
				</div>

				<div class="cart-item cart-summary">
					<div class="total">Do zapłaty: <span style="font-weight: 600;"> {{ total_price }} zł </span></div>
				</div>

				<div class="cart-item cart-summary" style="flex-direction: row; justify-content: right;">
					<button onclick="window.location.href='{% url 'orders:checkout' %}'"
							class="btn-primary checkout-btn">
						Przejdź do płatności
					</button>
				</div>

			{% else %}

				<div class="cart-item container" style="display: flex; justify-content: flex-end; border-bottom: 0px solid #ddd;">
					<div>
						<div style="color: var(--action_primary_default_color);" class="main-categories">
							Twój koszyk jest pusty
						</div>
					</div>
				</div>

			{% endif %}
		</div>

	</div>

</div>

<div class="bg-cream">
  <div class="container">
    <h2 style="color: var(--action_primary_default_color);" class="main-categories">Customers also bought</h2>
  </div>
  <div class="container">
  <div class="products">
    {% for p in latest_products %}
      {% include "core/product_card.html" with product=p %}
    {% endfor %}
  </div>
  </div>
</div>

{% include "core/footer.html" %}

{% endblock %}