{% extends "core/base.html" %}
{% load static %}

{% block title %}Your Cart{% endblock %}

{% block content %}

{% include "core/header.html" %}

<div class="breadcrumb-section-bar">
    <div class="container">
        {% for crumb in breadcrumbs %}
            <span class="breadcrumb-section-arrow">&gt;</span>
            {% if crumb.url %}
                <a href="{{ crumb.url }}" class="breadcrumb-section-title">{{ crumb.name }}</a>
            {% else %}
                <span class="breadcrumb-section-title">{{ crumb.name }}</span>
            {% endif %}
        {% endfor %}
    </div>
</div>

<style>
.cart-container {
    max-width: 900px;
    margin: auto;
   padding: 2px;
	
}

.cart-title {
    font-family: Montserrat;
	font-weight: 600;
	font-size: 36px;
	leading-trim: NONE;
	line-height: 100%;
	letter-spacing: 0%;
	vertical-align: middle;
	text-transform: uppercase;
	color: var(--action_primary_default_color);
	padding-bottom: 20px;
	padding-top:20px;

}

.cart-info {
    display: flex;
    align-items: center;   /* pion */
    gap: 8px;              /* odstęp między ikoną a tekstem */

    font-family: Fredoka;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
	padding-bottom: 15px;
}

.cart-info b {
	font-weight:500
}



.cart-item {
    display: grid;
    grid-template-columns: 300px 1fr 120px 160px;
    gap: 15px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-name {
    font-weight: bold;
    color: #c94c2d;
}

.cart-meta {
    font-size: 12px;
    color: #666;
}




.cart-price {
    font-weight: bold;
	height: 100%;
}

.cart-actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.cart-details {
	height: 100%;
}

</style>
<div class="bg-cream">
	<div class="container  ">
		
			<div class="cart-title">TWÓJ KOSZYK
			</div>

			<div class="cart-info">
				TOTAL: <b>{{ cart_items|length }} PRODUCTS </b>
			</div>
			<div class="cart-info">
				<img src="{% static 'products/images/InfoIcon.svg' %}" alt="Info" style="width:24=px; height:24px;" />
				<span>Dodanie produktu do koszyka nie oznacza jego rezerwacji. Nie zwlekaj z zakupem. </span>
			</div>
			<div class="cart-info">
				<img src="{% static 'products/images/CalendarIcon.svg' %}" alt="Info" style="width:24px; height:24px;" />
				<span>
				Przewidywana data dostawy zamówienia:
				<b>{{ delivery_from|date:"j" }}-{{ delivery_to|date:"j F" }}</b>
				</span>
			</div>
			
		
	
	</div>
</div>


<div class="bg-white">
	<div class="container  ">

		<div class="cart-container">

			{% for item in cart_items %}
			<div class="cart-item">

				<!-- IMAGE -->
				<div class="cart-img">
					<img src="{{ item.product.main_image.url }}">
				</div>

				<!-- INFO -->
				<div class="cart-details">
					<div class="cart-name">{{ item.product.name }}</div>

					<div class="cart-meta">
						{{ item.product.description }}
					</div>

					<div class="qty-box">
						<button class="btn-addytion" style="width=30px">
							<img src="{% static 'products/images/substract.svg' %}" alt="Cart" style="width:24px; height:24px;" /> 
						</button>
						<input class= "input-number" type="number" value="1" min="1">
						<button class="btn-secondary">
							<img src="{% static 'products/images/add.svg' %}" alt="Cart" style="width:24px; height:24px;" /> 
						</button>
					</div>
				</div>

				<!-- PRICE -->
				<div class="cart-price">
					{{ item.product.price }} zł
				</div>

				<!-- ACTIONS -->
				<div class="cart-actions">
					<button class="btn-save">Do schowka</button>

					<form method="post" action="{% url 'products:cart_remove' item.product.id %}">
						{% csrf_token %}
						<button class="btn-remove">Usuń z koszyka</button>
					</form>
				</div>

			</div>
			{% endfor %}

			<!-- SUMMARY -->
			<div class="cart-summary">
				<div>Łączna wartość: {{ total_price }} zł</div>
				<div class="total">Do zapłaty: {{ total_price }} zł</div>

				<button class="checkout-btn">Przejdź do płatności</button>
			</div>
		</div>

	</div>

</div>

<div class="bg-cream">
  <div class="container">
    <h2 style="color: var(--action_primary_default_color);" class="main-categories">Customers also bought</h2>
  </div>
  <div class="container">
  <div class="products">
    {% for p in latest_products %}
      {% include "core/product_card.html" with product=p %}
    {% endfor %}
  </div>
  </div>
</div>

{% include "core/footer.html" %}

{% endblock %}