{% extends "core/base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

{% include "core/header.html" %}

<div style="background-color: var(--background_default_color); color: var(--text_default_color); padding-bottom: 10px;">
  <div class="container">
  <h2 class="section-title main-categories" style="color: var(--action_primary_default_color);">TOY CATEGORIES</h2>
  </div>
  <div class="container">
  <div class="categories">
      {% for cat in categories %}
		{% if cat.name == category.name %}
			<a 
				href="{% url 'products:category_products' cat.slug %}"
				class="category-tile category-card"
				style="--cat-color: {{ cat.color|default:'#777' }};">
				{{ cat.name }}
			</a>
		{% else %}
			<a 
				href="{% url 'products:category_products' cat.slug %}"
				class="category-unfoccus category-card"
				style="--cat-color: {{ cat.color|default:'#777' }};">
				{{ cat.name }}
			</a>
		{% endif %}
	{% endfor %}
  </div>
  </div>
</div>


<div class="bg-white">
  <div class="container">
	<h2 style="color: var(--action_primary_default_color);" class="main-categories">
		RESULS FOUND ({{ products.count }})
	</h2>
  </div>
  <div class="container">
  <div class="products">
    {% for p in page_obj %}
      {% include "core/product_card.html" with product=p %}
    {% endfor %}
  </div>
  </div>
</div>

<div class="container">
	<div class="pagination">
		{% if page_obj.has_previous %}
			<a class="nav" href="?page={{ page_obj.previous_page_number }}">< PREVIOUS</a>
		{% else %}
			<span class="nav disabled">< PREVIOUS</span>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if num == page_obj.number %}
				<span class="page active">{{ num }}</span>
			{% else %}
				<a class="page" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="nav" href="?page={{ page_obj.next_page_number }}">NEXT ></a></a>
		{% else %}
			<span class="nav disabled">NEXT ></span></span>
		{% endif %}
	</div>
</div>

{% include "core/footer.html" %}

{% endblock %}